
p, ul {
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	font-size: 20px;
	}
	

a:visited { color: #4c4cff; }
a {
 text-decoration: none;
 }

h1 {
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	margin-right: 1ex;
	position: relative;
	text-align: center;
	}
	
html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }

ul {
    list-style-type: none;
    margin-top: 10em;
}
.r {
	font-size: 20px;
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	/* margin-left: 30em;*/
	display:none;
	position: relative;
	}

.rMap{
	font-size: 16px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	}
	
.links {
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}

.links:hover{
	zoom:1;
	filter: alpha(opacity=60);
	opacity: 0.6;
	}

.restaurants {
		position: absolute;
		margin-top: 117px;
		margin-left: 40em;
		}
	
#cuisine, #price, #goodFor {
	position:relative;
	margin-top: 90px;
	float:left;
	padding-right: 30px;
	}
	
#price {
	margin-left: 10%;
	}
	
.liTitles {
	font-size: 22px;
	}
	

#mapCanvas { 
	position: absolute;
	top: 40em;
	width: 900px;
	height: 550px;
	left: 50%;
	margin-left: -450px;
	margin-bottom: 5em;
	} 

#map_canvas img {
	max-width:none;
	
	}
	
#footer {
	position: relative;
	text-align: center;
	margin-top: 560px;
	}

#logo {
	margin: 0, auto;
	display:none;
	position: absolute;
	top: 2ex;
	left: 50%;
	margin-left: -155px;
	}
	

	
